<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .desktop-show {
            display: block;
        }

        .mobile-show {
            display: none;
        }
        @media screen and (max-width:450px) {
            .desktop-show {
                display: none;
            }
            .mobile-show {
                display: block;
            } 
                    }
    </style>
</head>
<body>
    <section class="desktop-show">

    </section>
    <section class="mobile-show">

    </section>
</body>
</html>